<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Favorites</title>
  </head>
  <body>
    <div class="container">
      <div class="content-wrapper">
        <div class="left-column">
          <h4 class="credit">kiman heng</h2>
          <h1 class="main-title">
            favorites
          </h1>
          {% set pages = {'books': 'books', 'movies': 'movies', 'shows': 'shows', 'about': 'about'} %}
          {% for page, title in pages.items() %}
              <a href="{{ url_for(page) }}" class="{% if request.endpoint == page %}active{% endif %}">{{ title }}</a>
          {% endfor %}
        </div>

        {% block content %}{% endblock %}

      </div>
    </div>
  </body>
</html>
